/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #000; /* Ajout d'une couleur de fond noire à la page */
}

header {
    display: none;
}

#leader {
    display: none;
}

#button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: #1b1b1b;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#interactive-map {
    height: 100vh;
    width: 100%;
    border: 2px solid #fff; /* Ajout d'une bordure blanche à la carte */
    border-radius: 10px; /* Ajout des coins arrondis à la carte */
    overflow: hidden; /* Assurez-vous que la carte ne dépasse pas les limites du conteneur */
}

.leaflet-popup-content {
    max-width: 300px;
    color: #000; /* Changement de la couleur du texte de la popup en noir */
}

.leaflet-popup-content-wrapper {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 10px;
}

.leaflet-label {
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .leaflet-popup-content-wrapper {
        font-size: 14px;
    }
}
