/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

header {
    display: none;
}

#leader {
    display: none;
}

#button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: #1b1b1b;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#interactive-map {
    height: 500px;
    width: 100%;
}

.leaflet-popup-content {
    max-width: 300px;
}

.leaflet-popup-content-wrapper {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 10px;
}

.leaflet-label {
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .leaflet-popup-content-wrapper {
        font-size: 14px;
    }
}
